.weatherDetails {
  display: flex;
  font-size: 12px;
  height: auto;
}

.detailsContainer {
  padding-top: 15px;
}

.forecastCards {
  width: 100px;
  margin: 10px;
  padding: 5px;
}

.weatherModule {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
}

.ant-card-head-title {
  text-align: center;
  font-size: 10px;
  padding: 0px, 12px;
}

.ant-card .ant-card-head {
  padding: 0%;
  min-height: 30px;
}

.ant-card .ant-card-body {
  padding: 5px;
  font-size: 10px;
}

.forecastCardsContainer {
  /* display: flex;
  justify-content: center; */
  width: 20%;
  margin: 0%;
}

.todayCard {
  width: 300px;
  height: inherit;
  display: flex;
  padding: 15px;
  margin: 10px 0px;
}
.ant-avatar-image img {
  height: 20px;
  object-fit: contain;
}

.ant-card .ant-card-meta-title {
  font-size: 14px;
}

.bigCardMeta {
  font-size: 10px;
}

.ant-card .ant-card-meta-avatar {
  padding-inline-end: 0;
}

.progressContainer {
  width: 50%;
  height: fit-content;
}

.carouselSlide {
  /* height: 360px; */
  color: black;
  text-align: center;
  background: #fff;
  display: flex;
  vertical-align: middle;
  border-radius: 10px;
  padding: 10px;
  height: inherit;
}

.slick-track {
  border-radius: 10px;
}

.slideText {
  font-size: 25px;
}

.slick-slider {
  height: inherit;
  background-color: #fff;
  border-radius: 10px;
}

.slick-slide {
  height: inherit;
}
.slick-list {
  height: inherit;
}

.ant-carousel {
  width: 600px;
  height: 200px;
  box-shadow: 1px 1px 2px 1px rgba(211, 211, 211, 0.321);
  margin: 10px 0px;
  border-radius: 10px;
}

.ant-carousel .slick-dots li {
  background-color: black;
}

.moduleRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statRow {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.forecastCardsCol {
  display: flex;
  justify-content: center;
}

.dashboardSpacing {
  width: 80%;
}
